{{!-- create.handlebars --}}

{{!-- Seção de conteúdo da página --}}
<div class="container mt-4 w-80">
    <h1 class="mb-4">Cadastrar Jogador</h1>
    <form id="createJogadorForm" enctype="multipart/form-data" method="post">
        <div class="form-group mb-3">
            <label for="createNome">Nome</label>
            <input type="text" class="form-control" id="createNome" name="nome" required>
        </div>
        <div class="form-group mb-3">
            <label for="createSobrenome">Sobrenome</label>
            <input type="text" class="form-control" id="createSobrenome" name="sobrenome" required>
        </div>
        <div class="form-group mb-3">
            <label for="createCPF">CPF (somente números)</label>
            <input type="number" class="form-control" id="createCPF" name="cpf" required>
        </div>
        <div class="form-group mb-3">
            <label for="createTelefone">Telefone (somente números)</label>
            <input type="number" class="form-control" id="createTelefone" name="telefone" required>
        </div>
        <div class="form-group mb-3">
            <label for="createNumeroCamiseta">Número da Camisa</label>
            <input type="number" class="form-control" id="createNumeroCamiseta" name="numerocamiseta" required>
        </div>
        <div class="form-group mb-3">
            <label for="createEscolheTime">Time</label>
            <input type="number" class="form-control" id="createEscolheTime" name="escolhetime" required>
        </div>

        <!-- Campo oculto para armazenar o ID do jogador -->
        <a  href="../areaLogada/" class="btn btn-secondary" id="cancelCreatePlayer"><i class="bi bi-x-circle"></i> Cancelar</a>
        <button  type="button" class="btn btn-primary" id="saveCreatePlayer" onclick="CreateJogadorClick(event)"><i class="bi bi-check-circle"></i> Salvar</button>
    </form>
</div>
<!-- Scripts do formulário player <script src="../js/menu.js"></script> -->
<script src="../js/playerScripts.js"></script> 
