
<style src="/public/css/styleSettings.css"></style>
<div class="tab">
    <a href="/painelws/settings/profile"><button class="tablinks , .cardForm button" onclick="openTab(event, 'profile')">Perfil</button></a>
    <a href="/painelws/settings/banners"><button class="tablinks, .cardForm button" onclick="openTab(event, 'banners')">Banners</button></a>
</div>



<script src="/js/settings.js"></script>