.quadradejogo{
  width: 50%;
  aspect-ratio: 16 / 9;
  margin: 5px auto;
}
.vl {
  border-left: 4px solid var(--nav-bar-a-color-border-solid);
  height: calc(100%);
  top: 0;
  position: sticky;
}
.scorePartidaSubstituicao,
.scorePartidaCartoes,
.setPartidaCartoes{
  background-color: var(--nav-bar-a-color-border-solid);
  border-radius: 5px;
  padding: 5px;
  color: #fff;
}
.setPartidaCartoes{
  display: flex;
  flex-direction: column;
}
.cardPartidaSubstituicao,
.cardPartidaCartoes{
  width: 50%;
  aspect-ratio: 16 / 9;
  background: #e8eaea;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px auto;
  overflow-y: auto;
  overflow-x: hidden;
}
.cardPartidaSubstituicao .cardDashboard_division_text,
.cardPartidaSubstituicao .container__,
.cardPartidaCartoes .container__,
.cardPartidaCartoes .cardDashboard_division_text{
  display: flex;
  flex-direction: row;
  width: calc(100%);
  justify-content: space-evenly;
}
.cardPartidaSubstituicao .cardDashboard_division_text,
.cardPartidaCartoes .cardDashboard_division_text{
  align-items: center;
}
.cardPartidaSubstituicao #substituicaoContainerEsquerda,
.cardPartidaSubstituicao #substituicaoContainerDireita,
.cardPartidaCartoes #cartoesContainerEsquerda,
.cardPartidaCartoes #cartoesContainerDireita{
  width: calc(100%);
}
.cardPartidaSubstituicao .cardDashboard_division_name,
.cardPartidaCartoes .cardDashboard_division_name{
  width: 40px;
  display: flex;
  align-items: center;
}
.cardPartidaSubstituicao .cardDashboard_division_text .cardDashboard_division_name:nth-child(2),
.cardPartidaCartoes .cardDashboard_division_text .cardDashboard_division_name:nth-child(2) {
  justify-content: end;
}
.ri-arrow-up-double-line{
  color: green;
  font-size: 1.3rem;
  font-weight: 600;
}
.ri-arrow-down-double-line{
  color: red;
  font-size: 1.3rem;
  font-weight: 600;
}
.ri-smartphone-fill{
  color: aqua;
  font-size: 1.3rem;
  font-weight: 600;
}
.quadraVolei {
  width: 100%;
  aspect-ratio: 16 / 9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ballplayer {
  width: 45%;
  height: 75%;
  font-size: 2.5vw;
  display: flex;
  align-items: center;
}
.jogadoresTime01{
  width: 98%;
  height: 95%;
  margin: 0 0 0 auto;
}
.jogadoresTime02{
  width: 98%;
  height: 95%;
  margin: 0 auto 0 0;
}
.quadra {
  position: relative;
}
.bolinha {
  position: absolute;
  width: 20%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--nav-bar-a-color);
  display: flex;
  color: white;
  font-size: 70%;
  text-align: center;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  transition: left 0.5s ease, top 0.5s ease;
  cursor: pointer;
}
.bolinha.libero{
  background-color: var(--nav-bar-a-color-active);
}

.bolinha2 {
  position: absolute;
  width: 20%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--nav-bar-a-color-border-solid);
  display: flex;
  color: white;
  font-size: 70%;
  text-align: center;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  transition: left 0.5s ease, top 0.5s ease;
  cursor: pointer;
}
.bolinha2.libero{
  background-color: var(--nav-bar-a-color-border-solid-active);
}
.group .bolinha,
.group .bolinha2{
  font-size: 50%;
}
.bolinha.libero,
.bolinha2.libero{
  width: 10%;
  font-size: 50%;
}
#subselectorContainer .bolinha.libero,
#subselectorContainer .bolinha2.libero{
  width: 10%;
  font-size: 30%;
}
.volleyball-court {
  width: 50%;
  aspect-ratio: 16 / 9;
  background-color: var(--nav-bar-a-color-border-solid);
  border: 2px solid #ffffff;
  border-radius: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group .volleyball-court {
  width: 90%;
  transition: 0.5s;
}
.group .quadradejogo{
  width: 90%;
  transition: 0.5s;
}
.net {
  width: 3px;
  height: 85%;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.baseline {
  left: 4%;
  width: 92%;
  height: 76%;
  background-color: transparent;
  position: absolute;
  border: 2px solid rgb(255, 255, 255);
}
.attack-line {
  width: 2px;
  height: 76%;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.attack-line.left {
  left: 34.3%;
}
.attack-line.right {
  right: 34.3%;
}
.service-area {
  width: 44%;
  height: 76%;
  background-color: var(--cor-quadra);
  position: absolute;
}
.service-area.left {
  left: 4%;
}
.service-area.right {
  right: 4%;
}
.attack-area {
  width: 22%;
  height: 76%;
  background-color: var(--cor-quadra);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.attack-area.left {
  left: 38%;
}
.attack-area.right {
  right: 38%;
}
.coach-box {
  width: 30.5%;
  height: 12%;
  position: absolute;
  top: 0.5%;
  border-left: 2px dashed rgb(255, 255, 255);
  border-right: 2px dashed rgb(255, 255, 255);
}
.coach-box.left {
  border-top: none;
  border-left: none;
  left: 4%;
}
.coach-box.right {
  border-top: none;
  border-right: none;
  right: 4%;
}
.coach-box.left.bottom {
  top: 87.5%;
  border-top: none;
  border-left: none;
  background-color: rgba(255, 255, 0, 0.2);
  border-bottom: 2px dashed rgb(255, 255, 255);
}
.coach-box.right.bottom {
  top: 87.5%;
  border-top: none;
  border-right: none;
  background-color: rgba(255, 255, 0, 0.2);
  border-bottom: 2px dashed rgb(255, 255, 255);
}
@media only screen and (max-width: 1700px) {
  .volleyball-court {
    width: 50%;
    transition: 0.5s;
  }
  .quadradejogo{
    width: 50%;
    transition: 0.5s;
  }
  .cardPartidaSubstituicao,
  .cardPartidaCartoes{
    width: 50%;
    transition: 0.5s;
  }
  .attack-line.left {
    left: 34.3%;
  }
  .attack-line.right {
    right: 34.3%;
  }
}
@media only screen and (max-width: 1400px) {
  .attack-line.left {
    left: 34.2%;
  }
  .attack-line.right {
    right: 34.2%;
  }
}
@media only screen and (max-width: 1200px) {
  .volleyball-court {
    width: 70%;
    transition: 0.5s;
  }
  .quadradejogo{
    width: 70%;
    transition: 0.5s;
  }
  .cardPartidaSubstituicao,
  .cardPartidaCartoes{
    width: 70%;
    transition: 0.5s;
  }
}
@media only screen and (max-width: 950px) {
  .volleyball-court {
    width: 80%;
    transition: 0.5s;
  }
  .quadradejogo{
    width: 80%;
    transition: 0.5s;
  }
  .cardPartidaSubstituicao,
  .cardPartidaCartoes{
    width: 80%;
    transition: 0.5s;
  }
  .attack-line.left {
    left: 34%;
  }
  .attack-line.right {
    right: 34%;
  }
  .group .bolinha,
  .group .bolinha2{
    font-size: 70%;
  }
}
@media only screen and (max-width: 500px) {
  .volleyball-court {
    width: 90%;
    transition: 0.5s;
  }
  .quadradejogo{
    width: 90%;
    transition: 0.5s;
  }
  .cardPartidaSubstituicao,
  .cardPartidaCartoes{
    width: 90%;
    transition: 0.5s;
  }
}
