.container__::-webkit-scrollbar {
	width: 04px;
}
.nav-bar ul li a {
	padding: 10px 8px;
	margin: 0 5px;
}
.user_image {
	width: 40px;
	height: 40px;
	background: rgb(22, 19, 70);
	background: linear-gradient(
		295deg,
		rgba(22, 19, 70, 1) 41%,
		rgba(89, 177, 237, 1) 100%
	);
	border-radius: 50%;
	margin: 5px auto;
	flex-direction: column;
	z-index: 2000 !important;
	cursor: pointer;
	display: flex;
    position: relative;
	align-items: flex-end;
	/* align-items: center; */
	justify-content: center;
}
.user_image img {
	max-width: 100%;
	max-height: 100%;
	width: 40px;
	height: 40px;
	object-fit: cover;
	justify-content: center;
	z-index: 3000 !important;
}
.user_input p {
	color: white;
	font-size: 0.8em;
	font-weight: 600;
	padding: 8px 0;
	text-align: center;
}
.user_input {
	display: flex;
	flex-direction: column;
	width: 200px;
	background-color: #0d1117;
	justify-content: center;
	border-radius: 5px;
	position: absolute;
	top: 30px;
	transition: 0.3s ease-out;
	visibility: hidden;
	opacity: 0;
}
.user_input::before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	top: -8px;
	right: 0;
	transform: translateX(-50%);
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 8px solid #0d1117;
	z-index: -1 !important;
}
.user_input_value {
	background-color: transparent;
	border: none;
	padding: 10px;
	color: white;
	display: flex;
	position: relative;
	gap: 5px;
	cursor: pointer;
	border-radius: 4px;
	align-items: center;
}
.user_input_value:not(:active):hover,
.user_input_value:focus {
	background-color: #21262c;
}
.user_input_value:focus,
.user_input_value:active {
	background-color: #1a1f24;
	outline: none;
}
.user_input_value::before {
	content: "";
	position: absolute;
	top: 5px;
	left: -10px;
	width: 5px;
	height: 80%;
	background-color: var(--nav-bar-a-color);
	border-radius: 5px;
	opacity: 0;
}
.user_input_value:focus::before,
.user_input_value:active::before {
	opacity: 1;
}
.user_input_value i {
	width: 15px;
	font-weight: 600;
	color: #7d8590;
}
.user_input_value:hover{
	color: var(--nav-bar-a-color);
}
.user_input:hover > :not(.user_input_value:hover):not(p) {
	transition: 300ms;
	/* filter: blur(1px); */
	transform: scale(0.95, 0.95);
}
.flex_main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	margin: 2px;
}
.sectionCamp {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: clamp(350px, calc(100% / 3.1) + 10px, calc(100% / 3.1) + 10px);
	height: 92vh;
}
.sectionCamp2 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	width: clamp(350px, 100% / 3.1, 100% / 3.1);
	height: 92vh;
}
.cardDashboard {
	width: calc(100%);
	height: 44vh;
	background: #e8eaea;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 5px;
}
.cardDashboard2 {
	width: calc(100%);
	height: 90vh;
	background: #e8eaea;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 5px 2px 5px 5px;
}
.cardSeeMore {
	width: calc(100%);
	background: #e8eaea;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100% - 10px);
    margin: 5px;
	background-color: #fff;
}
.container__ {
	height: calc(100%);
	overflow-y: auto;
	overflow-x: hidden;
	transition: 0.3s ease-in-out;
}
.cardDashboard_title,
.cardDashboard_more {
	padding: 10px 15px;
}
.cardDashboard_division {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
	padding: 10px 15px;
}
.cardDashboard_division_content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
}
.cardDashboard_container {
	display: flex;
	flex-direction: column;
}
.cardDashboard_container p{
	display: flex;
	align-items: center;
}
.cardDashboard_title {
	display: flex;
	font-weight: 900;
	font-size: 1.3em;
	align-items: center;
	justify-content: space-between;
}
.cardDashboard_title a {
	text-decoration: none;
}
.cardDashboard_title i {
	cursor: pointer;
	color: #000;
}
.cardDashboard_division_text{
	display: flex;
	align-items: start;
	flex-direction: column;
	justify-content: flex-start;
}
.cardDashboard_division_name {
	white-space: nowrap; 
	width: 150; 
	overflow: hidden;
	text-overflow: ellipsis;
}
.cardDashboard_division_username {
	font-size: 0.9em;
	color: #64696e;
	text-align: justify;
}
.cardDashboard_division_status{
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	font-size: 0.9em;
	color: #fff;
	min-width: 120px;
	padding: 10px;
	background-color: red;
}
.cardDashboard_division_status_min{
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	font-size: 0.9em;
	color: #fff;
	min-width: 20px;
	padding: 10px;
	background-color: red;
}
.cardDashboard_division_text_status{
	display: flex;
    position: relative;
	align-items: center;
	justify-content: center;
}
.cardDashboard_division_text_status .tooltip {
	position: absolute;
	top: 0;
	font-size: 14px;
	white-space: nowrap;
	color: #fff;
	padding: 5px 8px;
	border-radius: 5px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.cardDashboard_division_text_status .tooltip::before {
	position: absolute;
	content: "";
	height: 8px;
	width: 8px;
	color: #fff;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%) rotate(45deg);
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.cardDashboard_division_text_status:hover .tooltip {
	top: -35px;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}
.cardDashboard_division_text_status:hover span,
.cardDashboard_division_text_status:hover .tooltip {
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.cardDashboard_division_status_aguardando,
.cardDashboard_division_status_aguardando::before{
	background-color: yellow;
}
.cardDashboard_division_status_andamento,
.cardDashboard_division_status_andamento::before{
	background-color: green;
}
.cardDashboard_division_status_finalizado,
.cardDashboard_division_status_finalizado::before{
	background-color: cyan;
}
.cardDashboard_division_image {
	width: 60px;
	aspect-ratio: 1 / 1;
	background: rgb(22, 19, 70);
	background: linear-gradient(
		295deg,
		rgba(22, 19, 70, 1) 41%,
		rgba(89, 177, 237, 1) 100%
	);
	border-radius: 50%;
	overflow: hidden;
}
.cardDashboard_division_image img {
	width: 100%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}
.cardDashboard_more {
	display: block;
	text-decoration: none;
	color: rgb(29, 155, 240);
	font-weight: 800;
}
.campeonato_active, .time_active{
	background-color: #c8cbcb
}
.cardDashboard_division:hover {
	background-color: #b3b6b6;
}
.cardDashboard_more:hover {
	background-color: #b3b6b6;
	border-radius: 0px 0px 15px 15px;
}
.painelws_Btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 35px;
	height: 35px;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	transition-duration: 0.3s;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
	background-color: black;
}
.painelws_Btn i {
	font-size: 1.8em;
	color: white;
	transition-duration: 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
}
.painelws_Btn_text {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 0%;
	opacity: 0;
	color: white;
	font-size: 1.2em;
	font-weight: 600;
	transition-duration: 0.1s;
}
.painelws_Btn:hover {
	width: 100px;
	transition-duration: 0.3s;
	background-color: #2c3136;
}
.painelws_Btn:hover i {
	width: 30%;
	transition-duration: 0.3s;
	padding-left: 10px;
}
/* hover effect button's text */
.painelws_Btn:hover .painelws_Btn_text {
	opacity: 1;
	width: 70%;
	transition-duration: 0.3s;
	padding-right: 10px;
}
/* button click effect*/
.painelws_Btn:active {
	transform: translate(2px, 2px);
}
.paste-button {
    display: flex;
	position: relative;
	min-width: 100px; /*remover dps para evitar pulo no canto direito no botão*/
	justify-content: end;
}
.dropdown-content {
	font-size: 13px;
	position: absolute;
	top: 35px;
	right: 0px;
	z-index: 50;
	opacity: 0;
	width: 0px;
	overflow: hidden;
	background-color: black;
	border-radius: 15px 0px 15px 15px;
	transition: opacity 0.3s ease-in-out;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content i {
	padding-left: 5px;
	padding-right: 10px;
	font-size: 1.3em;
	color: white;
}
.dropdown-content a {
	color: #fff;
	padding: 8px 10px;
	text-decoration: none;
	display: block;
	transition: 0.3s;
}
.dropdown-content a:hover {
	background-color: #2c3136;
}
.dropdown-content a:focus {
	color: var(--nav-bar-a-color);
}
.paste-button:hover button {
	border-radius: 13px 13px 0px 0px;
	width: 100px;
}
.paste-button:hover button i {
	width: 30%;
	padding-left: 10px;
}
.paste-button:hover button .painelws_Btn_text {
	opacity: 1;
	width: 70%;
	padding-right: 10px;
}
.paste-button:hover .dropdown-content {
	display: block;
}
.paste-button:hover .dropdown-content {
	min-width: 150px;
	opacity: 1;
}
#partidasContainer p, #timesContainer p{
	justify-content: center;
}
/* inversão do tooltip */
.cardDashboard_division:first-child .cardDashboard_division_content .cardDashboard_division_text_status .tooltip::before{
	transform: translate(-50%) rotate(45deg);
	top: -3px;
}
.cardDashboard_division:first-child .cardDashboard_division_content .cardDashboard_division_text_status:hover .tooltip{
	top: 30px;
}
/* inversão do dropdown-content */
.cardDashboard_division:last-child.cardCampeonato:not(.cardDashboard_division:first-child.cardCampeonato):not(.cardDashboard_division:nth-child(2).cardCampeonato) .cardDashboard_division_content .paste-button:hover .dropdown-content {
	border-radius: 15px 15px 0px 15px;
}
.cardDashboard_division:last-child.cardCampeonato:not(.cardDashboard_division:first-child.cardCampeonato):not(.cardDashboard_division:nth-child(2).cardCampeonato) .cardDashboard_division_content .paste-button:hover button {
	border-radius: 0px 0px 13px 13px ;
}
.cardDashboard_division:last-child.cardCampeonato:not(.cardDashboard_division:first-child.cardCampeonato):not(.cardDashboard_division:nth-child(2).cardCampeonato) .cardDashboard_division_content .paste-button:hover .dropdown-content {
	top: 0;
	transform: translateY(-100%);
}
.swal2-popup .swal2-styled.swal2-confirm{
	background-color: var(--nav-bar-a-color-border-solid) !important;
}
.swal2-popup .swal2-styled.swal2-confirm:hover{
	background-color: var(--input-color-transparency) !important;
}
.swal2-popup .swal2-styled.swal2-cancel{
	background-color: var(--input-cancel-color) !important;
}
.swal2-popup .swal2-styled.swal2-cancel:hover{
	background-color: var(--input-cancel-color-transparency) !important;
}