<h1>Adicionar um novo Usuario.</h1>
<form action="/usuarios" method="POST">
  <div class="form-control">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" placeholder="Nome">
  </div>
  <div class="form-control">
    <label for="sobrenome">Sobrenome:</label>
    <input type="text" name="sobrenome" placeholder="Sobrenome">
  </div>
  <div class="form-control">
    <label for="cpf">cpf:</label>
    <input type="text" name="cpf" placeholder="cpf">
  </div>
  <div class="form-control">
    <label for="dataNascimento">Data Nascimento</label>
    <input type="date" name="dataNascimento" placeholder="Data Nascimento">
  </div>
  <div class="form-control">
    <label for="sexo">Sexo</label>
    <input type="text" name="sexo" placeholder="Sexo">
  </div>
  <div class="form-control">
    <label for="tipo">Tipo:</label>
    <input type="text" name="tipo" placeholder="Tipo">
  </div>
  <input type="submit" value="Cadrastar">
</form>