<section class="loginsection">

	<div class="parent">
		<div class="div1">
			<h1>Campeonatos</h1>
			<svg viewBox="0 0 24 24" fill="#000000">
				<path
					d="M 19.359 7.546 L 19.359 10.308 C 19.359 11.758 18.587 13.118 17.344 13.864 L 17.201 13.931 L 15.103 14.682 C 14.293 15.602 13.267 16.336 12.134 16.779 L 12.134 18.046 L 12.711 18.046 C 14.166 18.046 15.344 19.225 15.344 20.681 L 15.344 21.258 C 15.344 21.701 14.985 22.06 14.542 22.06 L 4.906 22.06 C 4.463 22.06 4.104 21.701 4.104 21.258 L 4.104 20.681 C 4.104 19.225 5.284 18.046 6.739 18.046 L 7.315 18.046 L 7.315 16.779 C 6.183 16.336 5.157 15.602 4.345 14.682 L 2.247 13.931 L 2.106 13.864 C 0.86 13.118 0.09 11.758 0.09 10.308 L 0.09 7.546 C 0.09 6.288 1.113 5.227 2.345 5.227 L 2.498 5.222 L 2.498 3.594 C 2.498 3.15 2.857 2.791 3.302 2.791 L 16.148 2.791 C 16.591 2.791 16.95 3.15 16.95 3.594 L 16.95 5.224 L 17.079 5.227 C 18.335 5.227 19.359 6.288 19.359 7.546 Z M 2.984 12.49 C 2.671 11.712 2.498 10.883 2.498 10.04 L 2.498 6.83 L 2.369 6.833 C 2.013 6.833 1.696 7.162 1.696 7.546 L 1.696 10.308 C 1.696 11.169 2.144 11.985 2.868 12.448 Z M 12.711 19.652 L 6.739 19.652 C 6.248 19.652 5.837 19.995 5.735 20.456 L 13.715 20.456 C 13.611 19.995 13.202 19.652 12.711 19.652 Z M 10.077 17.233 C 10.076 17.233 10.076 17.233 10.074 17.233 C 10.019 17.236 9.963 17.239 9.907 17.241 C 9.847 17.243 9.785 17.244 9.725 17.244 C 9.658 17.244 9.593 17.241 9.526 17.239 C 9.523 17.239 9.521 17.239 9.518 17.239 C 9.318 17.233 9.12 17.217 8.921 17.192 L 8.921 18.046 L 10.527 18.046 L 10.527 17.195 C 10.377 17.214 10.227 17.225 10.077 17.233 Z M 15.344 10.04 L 15.344 4.396 L 4.104 4.396 L 4.104 10.04 C 4.104 12.421 5.967 14.687 8.243 15.403 C 8.276 15.41 8.311 15.416 8.346 15.427 C 8.757 15.548 9.161 15.618 9.553 15.634 C 9.555 15.634 9.556 15.634 9.56 15.634 C 9.614 15.637 9.669 15.637 9.725 15.637 C 9.774 15.637 9.823 15.637 9.874 15.635 C 9.907 15.634 9.941 15.632 9.974 15.631 C 9.984 15.631 9.993 15.631 10.003 15.629 C 12.787 15.462 15.344 12.83 15.344 10.04 Z M 17.754 7.546 C 17.754 7.162 17.436 6.833 17.055 6.833 L 16.95 6.83 L 16.95 10.04 C 16.95 10.883 16.777 11.712 16.465 12.49 L 16.58 12.448 C 17.304 11.985 17.754 11.169 17.754 10.308 Z M 18.851 14.065 L 20.851 14.065 L 20.851 17.065 L 23.851 17.065 L 23.851 19.065 L 20.851 19.065 L 20.851 22.065 L 18.851 22.065 L 18.851 19.065 L 15.851 19.065 L 15.851 17.065 L 18.851 17.065 Z"
					style=""
					transform="matrix(1, 0, 0, 1, 1.7763568394002505e-15, 0)"
				></path>
			</svg>
			<hr />
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente
				dolor ipsa ad esse molestias delectus. A minus deserunt doloremque, est
				quibusdam quis neque ut nobis laudantium aut incidunt, porro itaque.</p>
			<hr />
		</div>
		<div class="div2">
			<H1>Times</H1>
			<svg viewBox="0 0 24 24" fill="#000000">
				<path
					d="M 5 6 L 8 6 L 8 4 L 5 4 L 5 1 L 3 1 L 3 4 L 0 4 L 0 6 L 3 6 L 3 9 L 5 9 L 5 6 Z M 11 12 C 13.21 12 15 13.79 15 16 C 15 18.21 13.21 20 11 20 C 8.79 20 7 18.21 7 16 C 7 13.79 8.79 12 11 12 Z M 11 10 C 7.685 10 5 12.685 5 16 C 5 19.315 7.685 22 11 22 C 14.315 22 17 19.315 17 16 C 17 12.685 14.315 10 11 10 Z M 9 8.749 C 14.065 10.057 19.002 6.232 19 1.001 L 17 1 C 17.001 5.142 12.905 8.039 9 6.658 L 9 8.749 Z M 21.977 14.5 C 21.989 11.647 19.818 9.259 16.977 9 L 16.977 11 C 19.639 11.417 20.851 14.559 19.159 16.656 C 18.839 17.053 18.435 17.375 17.977 17.6 L 18.577 19.5 L 18.577 19.6 C 20.64 18.748 21.984 16.732 21.977 14.5 Z M 23.977 1 L 21.977 1 C 21.995 3.363 20.625 5.516 18.477 6.5 L 19.277 8.3 C 22.143 7.002 23.982 4.146 23.977 1 Z"
					style="transform-origin: 11.9885px 11.5px;"
					transform="matrix(-1, 0, 0, -1, -0.000001550063, 3.42727e-7)"
				></path>
			</svg>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam optio
				ratione commodi eos unde qui nobis ad eum fugiat enim asperiores
				adipisci aut nostrum mollitia corrupti, suscipit itaque quisquam
				dolorem!</p>
		</div>
		<div class="div3">
			<h1>Jogadores</h1>
			<svg
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
				fill="#000000"
			><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
					id="SVGRepo_tracerCarrier"
					stroke-linecap="round"
					stroke-linejoin="round"
				></g><g id="SVGRepo_iconCarrier">
					<g>
						<path fill="none" d="M0 0h24v24H0z"></path>
						<path
							d="M14 14.252v2.09A6 6 0 0 0 6 22l-2-.001a8 8 0 0 1 10-7.748zM12 13c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6zm0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm6 6v-3h2v3h3v2h-3v3h-2v-3h-3v-2h3z"
						></path>
					</g>
				</g></svg>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
				beatae consequuntur quod voluptate reprehenderit nam libero eum ipsum.
				Quidem eaque ratione cum explicabo, tempore magni provident enim odio
				praesentium id.</p>
		</div>
	</div>

</section>

<script src="js/login.js"></script>