{{!-- create.handlebars --}}

{{!-- Seção de conteúdo da página --}}
<div class="container mt-4 w-80">
    <h1 class="mb-4">Criar Campeonato</h1>
    <form id="createCampeonatoForm" enctype="multipart/form-data" method="post">
        <div class="form-group mb-3">
            <label for="createTitulo">Nome do Campeonato</label>
            <input type="text" class="form-control" id="createTitulo" name="titulo" required>
        </div>

        <!-- Campo de upload de imagem -->
        <div class="form-group">
            <label for="createImagem">Imagem do Campeonato</label>
            <input type="file" class="form-control-file" id="createImagem" name="imagem" required>
        </div>

        <!-- Campo oculto para armazenar o ID do Campeonato -->
        <a href="../campeonato/" class="btn btn-secondary" id="cancelCreateCampeonato"><i class="bi bi-x-circle"></i>Cancelar</a>
        <button type="button" class="btn btn-primary" id="saveCreateCampeonato" onclick="CreateCampeonatoClick(event)"><i class="bi bi-check-circle"></i> Salvar</button>
    </form>
</div>
<!-- Scripts do formulário Campeonato -->
<script src="../js/campeonatoScripts.js"></script>