<h1>Adicionar um novo Usuario.</h1>
<form action="/time" method="POST">
  <div class="form-control">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" placeholder="Nome">
  </div>
  <input type="submit" value="Cadrastar Time">
</form>